In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.shape

(10000, 20)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [5]:
data.head(10)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,0.309479,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,0.460556,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,0.075779,B,B,6,1437,3,NaN,0,2,B,95380.220993

In [6]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [7]:
data=data.drop('Healthcare_1',axis=1)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [9]:
data.loc[data['HouseYear']>2021].shape

(2, 19)

In [10]:
data.loc[data['HouseYear']>2021]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [11]:
data.loc[data['HouseYear']==20052011,'HouseYear']=2008

In [12]:
data.loc[data['HouseYear']==4968,'HouseYear']=1968

In [13]:
data.loc[data['HouseYear']>2021]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [14]:
data.loc[data['Rooms']>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
2170,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,3,8,B,229661.964416
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [15]:
data.loc[data['Rooms']==19,'Rooms']=1

In [16]:
data.loc[data['Rooms']==10,'Rooms']=2

In [17]:
data.loc[[377,8849],:]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,2.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
8849,14865,9,2.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [18]:
data['DistrictId'].unique()

array([ 35,  41,  53,  58,  99,  59, 154,  74,   1,  23,  28,  31,  13,
        57,  27,  85,  34,  19,   0,  48,  54, 150,  11,  50,  61,  44,
        90, 200,  43, 177, 101,  38,  21, 103,  98, 170,  94,   5,  88,
        47,   6,  52,  62,  77,  79,   9, 156,  69, 108,  96, 169,  18,
       148, 128,  10, 144, 120,  39,   7,  84, 123, 159,  70, 129,   3,
        95,  78,  45,  15, 121,  49,  25,   2, 127,  56, 109,  46,  17,
       119,  80,  86,  83, 137,  91,  92, 118, 187,  36, 106, 161,  22,
        63, 167, 113,  66,  29,  37,  20,   8, 181,  40,  93,  30,  81,
       107, 130, 100,  12, 125,  67,  26,  89,  24, 111, 138,  64, 124,
       183,  55, 157, 151,  33,  87, 126, 155, 164, 105, 110, 132,  71,
        73, 189,  75, 122, 163, 141,  76, 115, 139, 143, 201, 165, 190,
       193, 174,  60, 114, 172, 134, 117, 149, 153, 131, 145,  82, 160,
        42,  32, 133, 208, 171, 176, 173, 147,  97, 142, 195, 180, 196,
       112,  72, 175,   4, 186, 146, 191, 168, 192,  14, 199, 136, 162,
       179, 188, 135, 140,  16,  51, 178, 104,  68, 152, 194, 116, 207,
       185,  65, 102, 166, 182, 202, 184, 205, 209, 158], dtype=int64)

In [19]:
data['DistrictId'].nunique()

205

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [21]:
data.loc[data['DistrictId']==100,'Price'].mean()

268783.76840521663

In [22]:
data.loc[data['DistrictId']==105,'Price'].mean()

224550.83595417123

In [23]:
data.loc[data['DistrictId']==110,'Price'].mean()

237364.7794076715

In [24]:
index_array_square=data.loc[data['Square']<15].index
index_array_square

Int64Index([212, 1316, 1608, 3280, 3413, 4739, 4853, 4900, 6392, 8030, 8283,
            9294, 9613],
           dtype='int64')

In [25]:
data=data.drop(index_array_square,axis=0).reset_index(drop=True)

In [26]:
data.loc[212,:]

Id                    9435
DistrictId              27
Rooms                    1
Square              46.849
LifeSquare         22.5976
KitchenSquare            8
Floor                    8
HouseFloor              10
HouseYear             2007
Ecology_1        0.0411164
Ecology_2                B
Ecology_3                B
Social_1                53
Social_2             14892
Social_3                 4
Helthcare_2              1
Shops_1                  4
Shops_2                  B
Price               142484
Name: 212, dtype: object

In [27]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9987.000000,9987.000000,9987.000000,9987.000000,7874.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000
mean,8382.091619,50.425653,1.887654,56.383254,37.230601,6.279764,8.524782,12.614399,1984.866727,0.118849,24.698508,5354.563633,8.046160,1.319616,4.232202,214088.179046
std,4859.654766,43.599980,0.813586,20.988877,86.302686,28.578875,5.234063,6.770878,18.413561,0.119047,17.531875,4006.621732,23.846091,1.493218,4.807474,92767.166444
min,0.000000,0.000000,0.000000,16.117154,0.370619,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.500000,20.000000,1.000000,41.789013,22.801890,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153903.011790
50%,8393.000000,36.000000,2.000000,52.540107,32.786483,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192277.326489
75%,12591.500000,75.000000,2.000000,65.925906,45.137721,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249105.358586
max,16798.000000,209.000000,6.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [28]:
data.loc[data['LifeSquare']>641.065193]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
4323,16550,27,3.0,81.694417,7480.592129,1.0,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366

In [29]:
data.loc[data['LifeSquare']>7480,'LifeSquare']=data.loc[data['LifeSquare']>7480,'LifeSquare']/100

In [30]:
data.loc[4323,:]

Id                   16550
DistrictId              27
Rooms                    3
Square             81.6944
LifeSquare         74.8059
KitchenSquare            1
Floor                    9
HouseFloor              17
HouseYear             2016
Ecology_1        0.0176471
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               469
Social_3                 0
Helthcare_2              0
Shops_1                  0
Shops_2                  B
Price               217357
Name: 4323, dtype: object

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 19 columns):
Id               9987 non-null int64
DistrictId       9987 non-null int64
Rooms            9987 non-null float64
Square           9987 non-null float64
LifeSquare       7874 non-null float64
KitchenSquare    9987 non-null float64
Floor            9987 non-null int64
HouseFloor       9987 non-null float64
HouseYear        9987 non-null int64
Ecology_1        9987 non-null float64
Ecology_2        9987 non-null object
Ecology_3        9987 non-null object
Social_1         9987 non-null int64
Social_2         9987 non-null int64
Social_3         9987 non-null int64
Helthcare_2      9987 non-null int64
Shops_1          9987 non-null int64
Shops_2          9987 non-null object
Price            9987 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

# 1 способ LifeSquare

In [39]:
index_array_lifesquare=data.loc[data['LifeSquare'].isna()].index

In [42]:
data.drop(index_array_lifesquare,axis=0,inplace=True)

# 2 способ LifeSquare

In [33]:
data['LifeSquare']=data['LifeSquare'].fillna(data['LifeSquare'].mean())

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 19 columns):
Id               9987 non-null int64
DistrictId       9987 non-null int64
Rooms            9987 non-null float64
Square           9987 non-null float64
LifeSquare       7874 non-null float64
KitchenSquare    9987 non-null float64
Floor            9987 non-null int64
HouseFloor       9987 non-null float64
HouseYear        9987 non-null int64
Ecology_1        9987 non-null float64
Ecology_2        9987 non-null object
Ecology_3        9987 non-null object
Social_1         9987 non-null int64
Social_2         9987 non-null int64
Social_3         9987 non-null int64
Helthcare_2      9987 non-null int64
Shops_1          9987 non-null int64
Shops_2          9987 non-null object
Price            9987 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

# 3 способ LifeSquare

In [32]:
square_lifesquare=(data['Square']/data['LifeSquare']).mean()

In [33]:
square_lifesquare

2.1277563988255745

In [36]:
data['LifeSquare']=data['LifeSquare'].fillna(data['Square']/square_lifesquare)

In [37]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000
mean,8382.091619,50.425653,1.887654,56.383254,34.613203,6.279764,8.524782,12.614399,1984.866727,0.118849,24.698508,5354.563633,8.046160,1.319616,4.232202,214088.179046
std,4859.654766,43.599980,0.813586,20.988877,18.929577,28.578875,5.234063,6.770878,18.413561,0.119047,17.531875,4006.621732,23.846091,1.493218,4.807474,92767.166444
min,0.000000,0.000000,0.000000,16.117154,0.370619,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.500000,20.000000,1.000000,41.789013,22.366916,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153903.011790
50%,8393.000000,36.000000,2.000000,52.540107,31.289842,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192277.326489
75%,12591.500000,75.000000,2.000000,65.925906,42.169283,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249105.358586
max,16798.000000,209.000000,6.000000,641.065193,638.163193,2014.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [38]:
data.loc[data['LifeSquare']<15/square_lifesquare]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
95,4280,34,2.0,61.334968,4.091945,1.0,26,1.0,2014,0.069753,B,B,53,13670,4,1,11,B,286564.441972
134,12613,6,2.0,65.496674,5.589324,1.0,5,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,180727.643541
158,16779,27,3.0,51.991064,4.896202,1.0,22,25.0,1977,0.072158,B,B,2,629,1,0,0,A,174687.566186
160,3522,6,1.0,66.419841,3.987101,1.0,2,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,193361.229815
269,15215,17,1.0,46.692974,5.941401,1.0,7,1.0,2015,0.000000,B,B,18,3374,5,1,2,B,212290.684086
278,8727,1,2.0,79.521221,4.634049,1.0,5,1.0,2017,0.007122,B,B,1,264,0,0,1,B,232726.628137
362,15751,9,1.0,44.171793,1.251846,1.0,11,18.0,2017,0.161532,B,B,25,5648,1,2,4,B,134910.715588
474,6333,27,2.0,64.049695,4.008230,1.0,5,5.0,2017,0.017647,B,B,2,469,0,0,0,B,189477.560210
476,8849,45,1.0,63.419553,2.286357,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,325600.765809
526,2141,56,1.0,53.733677,4.323046,1.0,24,1.0,2015,0.000000,B,B,23,5067,4,2,6,B,208773.977243
559,8149,6,2.0,71.904226,4.171094,1.0,9,25.0,2015,0.243205,B,B,5,1564,0,0,0,B,184050.456761
654,34,6,3.0,78.380053,4.003157,1.0,23,25.0,2019,0.243205,B,B,5,1564,0,0,0,B,206647.245666
673,10631,88,1.0,42.571618,1.941521,1.0,6,1.0,1977,0.127376,B,B,43,8429,3,3,9,B,130374.241595
681,2913,34,4.0,94.888593,2.637095,1.0,4,1.0,2018,0.069753,B,B,53,13670,4,1,11,B,346949.506507
682,15091,27,2.0,66.535842,1.638083,1.0,6,1.0,1977,0.017647,B,B,2,469,0,0,0,B,175067.233991
694,1867,30,1.0,54.626206,4.651397,1.0,4,3.0,1977,0.000078,B,B,22,6398,141,3,23,B,87456.520038
706,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
733,4319,62,1.0,51.815214,4.203073,1.0,6,1.0,1977,0.072158,B,B,2,629,1,0,0,A,137880.620962
750,11989,62,3.0,104.446306,1.451067,1.0,12,15.0,2015,0.072158,B,B,2,629,1,0,0,A,223692.672480
764,7060,27,1.0,38.651043,5.822657,1.0,7,17.0,1977,0.011654,B,B,4,915,0,0,0,B,103210.010325
849,2470,6,1.0,43.312025,1.404493,1.0,11,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,128588.741321
881,1250,53,2.0,56.290825,5.142822,1.0,2,19.0,1977,0.049637,B,B,34,7759,0,1,3,B,294282.721375
1168,14866,6,1.0,38.818170,5.927865,1.0,18,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,131405.866884
1174,3527,9,1.0,72.035396,2.358992,1.0,5,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,191744.615408
1213,6366,6,1.0,47.804946,2.553024,1.0,6,25.0,1977,0.243205,B,B,5,1564,0,0,0,B,133552.372112
1214,6189,53,2.0,58.896686,5.735331,1.0,18,19.0,2014,0.049637,B,B,34,7759,0,1,3,B,286784.105825
1408,1843,74,1.0,49.635712,3.411048,1.0,4,1.0,1977,0.309479,B,B,35,7715,4,0,6,B,146838.036852
1502,2967,1,1.0,62.494611,3.489694,0.0,1,0.0,1977,0.007122,B,B,1,264,0,0,1,B,193568.854208
1578,363,27,2.0,59.715762,1.595943,0.0,2,0.0,2018,0.072158,B,B,2,629,1,0,0,A,189331.645263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8441,14380,58,1.0,40.525820,4.174627,1.0,16,17.0,1977,0.437885,B,B,23,5735,3,0,5,B,116642.983817
8464,5803,6,2.0,64.682905,4.164726,1.0,12,25.0,2019,0.243205,B,B,5,1564,0,0,0,B,186246.253542
8476,11829,34,4.0,98.047744,1.451846,1.0,16,1.0,1977,0.069753,B,B,53,13670,4,1,11,B,366655.111294
8532,16090,6,3.0,77.847057,2.941437,1.0,12,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,221644.916098
8550,12503,6,2.0,74.273400,5.615401,1.0,12,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,188118.364308
8590,467,9,2.0,45.924840,2.907493,1.0,10,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,124016.667294
8604,6814,52,2.0,66.544692,2.179808,1.0,2,17.0,2018,0.371149,B,B,34,7065,1,2,5,B,183784.694445
8700,8601,6,3.0,80.968060,1.239622,1.0,6,17.0,2017,0.243205,B,B,5,1564,0,0,0,B,217669.112875
8704,1936,74,1.0,53.835574,1.185864,0.0,7,7.0,2018,0.075779,B,B,6,1437,3,0,2,B,185976.351147
8844,4512,9,2.0,64.977910,5.768457,1.0,11,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,194036.364634
8871,14112,23,2.0,53.043172,4.855507,1.0,4,1.0,1977,0.034656,B,B,0,168,0,0,0,B,89801.732879
8875,2056,9,1.0,47.301790,5.125908,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,138880.254465
8897,10684,22,1.0,41.872590,2.347250,1.0,3,1.0,1977,0.118537,B,B,30,6207,1,1,0,B,136609.809831
8960,6749,23,2.0,65.204976,2.467002,0.0,9,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,167560.543204
8962,14254,27,2.0,73.275697,2.861966,1.0,2,25.0,1977,0.072158,B,B,2,629,1,0,0,A,171980.001444
9166,13951,45,1.0,39.225914,2.372105,1.0,24,24.0,2017,0.195781,B,B,23,5212,6,3,2,B,271893.118572
9181,1754,6,1.0,61.978423,3.943299,1.0,1,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,177116.339701
9253,5458,9,2.0,62.920673,1.591420,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,180234.142008
9280,15165,74,2.0,83.259565,5.387263,1.0,12,1.0,2017,0.309479,B,B,35,7715,4,0,6,B,260852.230977
9287,8687,48,1.0,42.840915,2.608669,1.0,19,17.0,1977,0.041125,B,B,46,9515,5,1,10,B,236378.466217
9304,15449,6,2.0,62.548496,3.645893,1.0,16,25.0,2017,0.243205,B,B,5,1564,0,0,0,B,191217.348124
9384,3745,30,1.0,42.457169,3.259832,1.0,10,25.0,2014,0.000078,B,B,22,6398,141,3,23,B,155348.833619
9564,7389,23,1.0,52.028804,4.295819,0.0,8,9.0,1977,0.014073,B,B,2,475,0,0,0,B,98638.755928
9590,5112,6,2.0,63.591740,0.795539,10.0,17,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,174741.998061
9735,14053,27,2.0,56.564445,2.616535,1.0,7,12.0,2015,0.011654,B,B,4,915,0,0,0,B,141086.005616
9743,13583,27,2.0,58.943039,3.319486,1.0,11,17.0,2017,0.011654,B,B,4,915,0,0,0,B,142789.948977
9800,2040,62,1.0,122.438148,5.751401,1.0,2,3.0,1977,0.072158,B,B,2,629,1,0,0,A,224900.897679
9815,13630,24,3.0,127.141143,4.811405,1.0,3,1.0,2017,0.111627,B,B,50,12238,8,2,3,B,611250.912034
9875,6053,6,1.0,41.314775,5.005477,1.0,9,17.0,2016,0.243205,B,B,5,1564,0,0,0,B,159149.515475
9941,583,27,3.0,84.250710,4.187885,1.0,15,1.0,2016,0.072158,B,B,2,629,1,0,0,A,236647.781363